<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Users</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
<!--  <link rel="stylesheet" href="../css/shards.min.css">-->
</head>
<body>

<table>
  <tr>
    <td>ID</td>
    <td>Preset No.</td>
    <td>Radio Stadion name</td>
  </tr>
  <tr th:each="station : ${stations}">
    <td th:text="${station.id}"></td>
    <td th:text="${station.positionOnReceiver}"></td>
    <td th:text="${station.name}"></td>
  </tr>
</table>
</body>
</html>